.div-footer{
    width: 97%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background: rgb(129, 126, 126);
}