.nav-superior{
    height: 30px;
    width: 97%;
    background: rgb(129, 126, 126);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.div-logo{
    margin: 15px;
}

.div-inicio{
    margin: 15px;
    color: #596d8a;

}

