.nav-superior{
    height: auto;
    width: 93%;
    background:rgba(16, 15, 15, 0.43);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px 3px 20px;
    margin-top: 20px;
    border-radius: 7px;
}

.div-logo{
    width: auto;
}

.div-inicio{
    color: #596D86;
    border-radius: 42px;
    background: #596d8600;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    }


.div-inicio:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.linkBuscador{
    color: aliceblue;
    font-weight: 3px;
}
